RewriteEngine On

# Redirect all non-file and non-directory requests to router.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /router.php [L]

# Allow access to specific file types
<FilesMatch "\.(css|js|png|jpg|jpeg|gif|svg|ico|woff|woff2|ttf|eot|otf|json|xml|txt|doc|docs|docx|pdf|csv|html)$">
    Require all granted
</FilesMatch>

# Deny access to hidden files and directories (e.g., .env, .git)
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# Deny access to service-account.json and other sensitive files
<FilesMatch "(^|/)(service-account\.json|\.env)$">
    Require all denied
</FilesMatch>

# Allow access to router.php, index.php, and other necessary PHP files
<FilesMatch "^(router|index)\.php$">
    #Require all granted
</FilesMatch>

# Deny access to everything else
#<FilesMatch ".*\.(php|html|json)$">
#    Require all denied
#</FilesMatch>

<Files "service-account.json">
  Order Allow,Deny
  Deny from all
</Files>
